---
layout: base
---

<div class="heading">
  <div class="row">
    <div class="eight columns">
      <h1>Anleitung</h1>
      <p>Hier erfährst du alles Notwendige um deinen eigenen Freifunk-Knoten zu betreiben.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <p>Die Einrichtung eines Freifunk-Knotens ist nicht schwer, das kann jeder! Alle Schritte, vom Router-Kauf über das Firmware-Flashen bis zum fertigen Freifunk-Knoten auf einen Blick:</p>
    <div class="eight columns centered">
      <table>
        <thead>
          <tr>
            <th>Schritt</th>
            <th>Beschreibung</th>
            <th>Zeitaufwand</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>1</strong></td>
            <td><strong>Router auswählen und kaufen</strong></td>
            <td><strong>variiert je nach Verfügbarkeit</strong></td>
          </tr>
          <tr>
            <td>2</td>
            <td><a href="/firmware-einspielen.html">Firmware einspielen</a></td>
            <td>ca. 15 Minuten</td>
          </tr>
          <tr>
            <td>3</td>
            <td><a href="/knoten-einrichten.html">Knoten einrichten</a></td>
            <td>ca. 5 Minuten</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="twelve columns">
    <h4>Schritt 1: Router auswählen und kaufen</h4>

    <ul class="accordion">
      <li>
        <div class="title">
          <h5>Router auswählen</h5>
        </div>
        <div class="content">
          <p>
            Du benötigst einen Router, der von der <span class="has-tip" title="Betriebssystem für Router">Freifunk Firmware</span> unterstützt wird.
            Wähle ein unterstütztes Router-Modell aus unserer <strong><a href="/firmware.html">Firmware-Tabelle</a></strong>.
            Wenn du dir nicht sicher bist, welches Modell für dich geeignet ist, wähle eines der empfohlenen Modelle.
          </p>

          <h6>Empfohlene Router-Modelle</h6>

{% include choose_router.html %}

        </div>
      </li>
      <li>
        <div class="title">
          <h5>Router kaufen</h5>
        </div>
        <div class="content">

{% include get_router.html %}

        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <a class="primary button right" href="/firmware-einspielen.html">Weiter zu "Firmware einspielen"</a>
  </div>
</div>
