---
layout: base
---

<div class="heading">
  <div class="row">
    <div class="twelve columns">
      <h1>Besuch uns!</h1>
    </div>
  </div>
</div>

<script type="text/javascript">
  var cal = ics();
  {% for event in site.events %}
  cal.addEvent("{{event.title}}", "", "{{event.location}}", "{{event.start}}", "{{event.end}}");
  {% endfor %}
</script>

<div class="row">
  <div class="eight columns">
    <p>Wenn dich Freifunk interessiert, laden wir dich hiermit ein, uns unkompliziert kennen zu lernen. Wir treffen uns immer am zweiten und am letzten Donnerstag im Monat.</p>
    <p>Unser nächstes Treffen:</p>
    {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
    {% for event in site.events %}
    {% capture posttime %}{{event.start | date: '%s'}}{% endcapture %}
    {% if posttime > nowunix and printed == null %}
      <h2><a href="{{ event.url }}">{{ event.start | localize: "%d. %B %Y, %H:%M" }} Uhr</a></h2>
      <p><strong>{{ event.location }}</strong></p>
      <p>{{ event.content }}</p>
      {% capture printed %}true{% endcapture %}
    {% endif %}
    {% endfor %}
  </div>
  <!--<div class="one column">-->
    <!--<a href="javascript:cal.download()">iCal</a>-->
  <!--</div>-->
</div>
