---
layout: base
---

<div class="heading">
    <div class="row">
        <div class="twelve columns">
            <h1>Unterstützte Geräte</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <p>
            Die Freifunk Firmware basiert auf <a href="https://openwrt.org/" target="_blank">OpenWrt</a>, einer Linux
            Distribution für Embedded Devices. Grundvoraussetzung, um einen Router im Freifunk-Netz zu betreiben ist die
            Kompatibilität zu OpenWrt.
        </p>
        <p>
            Die komplette Liste der unterstützten Router findest du auf unserer <a
                    href="https://wizard.wiesbaden.freifunk.net/">Firmware-Seite</a>.
        </p>
        <p>
            In der folgenden Tabelle haben wir für dich die Router Modelle aufgelistet, die sich für Freifunk im Moment
            besonders gut eignen:
        </p>

        {% include choose_router.html %}

        <h3>Wo kaufen?</h3>

        {% include get_router.html %}

    </div>
</div>
