<dl class="tabs">
  <dd class="active"><a href="#simple1">Indoor</a></dd>
  <dd><a href="#simple2">Outdoor</a></dd>
  <dd><a href="#simple3">Richtfunk</a></dd>
</dl>
<ul class="tabs-content">
  <li class="active" id="simple1Tab">
    <table class="router">
      <thead>
        <tr>
          <th>Hersteller</th>
          <th>Modell</th>
          <th>Hardware</th>
          <th>Frequenzbänder (GHz)</th>
          <th>WLAN Specs</th>
          <th>Preis</th>
          <th>Hersteller-Infos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>D-Link</td>
          <td>DIR-505</td>
          <td>400MHz CPU, 64MB RAM, 8MB Flash</td>
          <td>2,4</td>
          <td>802.11n, integr. Antenne, (bis zu) 150MBit/s im WLAN</td>
          <td>~20 &euro;</td>
          <td><a href="http://www.dlink.com/de/de/home-solutions/connect/access-points-range-extenders-and-bridges/dir-505-shareport-mobile-companion" target="_blank">Link<a></td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>TP-Link</td>
          <td>TL-WR1043ND</td>
          <td>720MHz CPU, 64MB RAM, 8MB Flash</td>
          <td>2,4</td>
          <td>802.11n, 3x abnehmbare Antennen, (bis zu) 450MBit/s im WLAN</td>
          <td>~50 &euro;</td>
          <td><a href="http://www.tp-link.de/products/details/?categoryid=&model=TL-WR1043ND" target="_blank">Link<a></td>
        </tr>
      </tbody>
    </table>
  </li>
  <li id="simple2Tab">
    <p>
      <div class="alert-box alert">
        Wichtig: Ubiquiti Geräte mit AirOS Firmware Version 5.6.x und höher müssen zuerst auf 5.5.x "gedowngraded" werden, bevor die Freifunk-Firmware aufgespielt werden kann.
      </div>
    </p>
    <table class="router">
      <thead>
        <tr>
          <th>Hersteller</th>
          <th>Modell</th>
          <th>Hardware</th>
          <th>Frequenzbänder (GHz)</th>
          <th>WLAN Specs</th>
          <th>Preis</th>
          <th>Hersteller-Infos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>TP-Link</td>
          <td>CPE210</td>
          <td>560MHz CPU, 64MB RAM, 8MB Flash</td>
          <td>2,4</td>
          <td>802.11n, Sektorantenne 9dBi Gain: H 65° / E 35°, PoE + Passtrough, (bis zu) 150MBit/s im WLAN</td>
          <td>~50 &euro;</td>
          <td><a href="http://www.tp-link.de/products/details/?categoryid=&model=CPE210" target="_blank">Link<a></td>
        </tr>
        <tr>
          <td>Ubiquiti</td>
          <td>Nanostation locoM2</td>
          <td>400MHz CPU, 32MB RAM, 8MB Flash</td>
          <td>2,4</td>
          <td>802.11n, Sektorantenne 8 dBi Gain: H 60° / V 60° / E 60°, PoE, (bis zu) 150MBit/s im WLAN</td>
          <td>~50 &euro;</td>
          <td><a href="https://www.ubnt.com/airmax/nanostationm/" target="_blank">Link<a></td>
        </tr>
        <tr>
          <td>Ubiquiti</td>
          <td>Nanostation NSM2</td>
          <td>400MHz CPU, 32MB RAM, 8MB Flash</td>
          <td>2,4</td>
          <td>802.11n, Sektorantenne 11 dBi Gain: H 55° / V 53° / E 27°, PoE, (bis zu) 150MBit/s im WLAN</td>
          <td>~90 &euro;</td>
          <td><a href="https://www.ubnt.com/airmax/nanostationm/" target="_blank">Link<a></td>
        </tr>
      </tbody>
    </table>
  </li>
  <li id="simple3Tab">
    <p>
      <div class="alert-box alert">
        Wichtig: Diese Geräte müssen aufgrund der Vorschriften für das 5 GHz Frequenzband in Deutschland mit der Original Hersteller Firmware betrieben werden.
      </div>
    </p>
    <table class="router">
      <thead>
        <tr>
          <th>Hersteller</th>
          <th>Modell</th>
          <th>Hardware</th>
          <th>Frequenzbänder (GHz)</th>
          <th>WLAN Specs</th>
          <th>Reichweite (km)</th>
          <th>Preis</th>
          <th>Hersteller-Infos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ubiquiti</td>
          <td>Nanostation locoM5</td>
          <td>400MHz CPU, 32MB RAM, 8MB Flash</td>
          <td>5</td>
          <td>802.11n, Sektorantenne 13 dBi Gain: H 45° / V 45° / E 45°, PoE, (bis zu) 150MBit/s im WLAN</td>
          <td>bis zu 10</td>
          <td>~65 &euro;</td>
          <td><a href="https://www.ubnt.com/airmax/nanostationm/" target="_blank">Link<a></td>
        </tr>
        <tr>
          <td>Ubiquiti</td>
          <td>Nanostation NSM5</td>
          <td>400MHz CPU, 32MB RAM, 8MB Flash</td>
          <td>5</td>
          <td>802.11n, Sektorantenne 14.6-16.1 dBi Gain: H 43° / V 41° / E 15°, PoE + Passtrough, (bis zu) 150MBit/s im WLAN</td>
          <td>bis zu 15</td>
          <td>~90 &euro;</td>
          <td><a href="https://www.ubnt.com/airmax/nanostationm/" target="_blank">Link<a></td>
        </tr>
        <tr>
          <td>Ubiquiti</td>
          <td>NanoBeam ac (NBE‑5AC‑16)</td>
          <td>720MHz CPU, 128MB RAM, 8MB Flash</td>
          <td>5</td>
          <td>802.11ac, Sektorantenne 16 dBi Gain, PoE,  (bis zu) 450MBit/s im WLAN</td>
          <td>bis zu 10</td>
          <td>~90 &euro;</td>
          <td><a href="https://www.ubnt.com/airmax/nanobeam-ac/" target="_blank">Link<a></td>
        </tr>
        <tr>
          <td>Ubiquiti</td>
          <td>NanoBeam ac (NBE‑5AC‑19)</td>
          <td>720MHz CPU, 128MB RAM, 8MB Flash</td>
          <td>5</td>
          <td>802.11ac, Sektorantenne 19 dBi Gain, PoE,  (bis zu) 450MBit/s im WLAN</td>
          <td>bis zu 15</td>
          <td>~100 &euro;</td>
          <td><a href="https://www.ubnt.com/airmax/nanobeam-ac/" target="_blank">Link<a></td>
        </tr>
      </tbody>
    </table>
  </li>
</ul>
