<dl class="tabs mobile">
  <dd class="active"><a href="#simple1">Indoor</a></dd>
  <dd><a href="#simple2">Outdoor</a></dd>
  <dd><a href="#simple3">Erschwinglich</a></dd>
</dl>
<ul class="tabs-content">
  <li class="active" id="simple1Tab">
<p>Unsere gängigen Empfehlungen für den Betrieb moderner Hardware im Innenraum.</p>
    <table class="router responsive">
      <tbody>
<tr>
<td>Abbildung</td>
<td><img alt="Netgear EX6150" src="/images/routers/ex6150v2.svg"></td>
<td><img alt="AVM FRITZ!Box 4040" src="/images/routers/fritz4040.svg"></td>
<td><img alt="Ubiquiti Unifi AP AC-Lite" src="/images/routers/unifi_ac_lite.svg"></td>
<td><img alt="GL.iNet GL-B1300" src="/images/routers/gl-b1300.svg"></td>
<td></td>
</tr>
<tr>
<td>Hersteller</td>
<td>Netgear</td>
<td>AVM</td>
<td>Ubiquiti</td>
<td>Gl.iNet</td>
<td></td>
</tr>
<tr>
<td>Modell</td>
<td>EX6150 v2</td>
<td>FRITZ!Box 4040</td>
<td>Unifi AC Lite</td>
<td>GL-B1300</td>
<td></td>
</tr>
<tr>
<td>Stromversorgung</td>
<td>integriertes Netzteil</td>
<td>Netzteil</td>
<td>PoE Injektor<br />802.3af</td>
<td>Netzteil</td>
<td></td>
</tr>
<tr>
<td>CPU</td>
<td class="box-good">4x717 MHz<br />ARMv7</td>
<td class="box-good">4x717 MHz<br />ARMv7</td>
<td>1x750 MHz<br />MIPS 74Kc</td>
<td class="box-good">4x717 MHz<br />ARMv7</td>
<td></td>
</tr>
<tr>
<td>RAM</td>
<td class="box-good">256 MB</td>
<td class="box-good">256 MB</td>
<td>128 MB</td>
<td class="box-good">256 MB</td>
<td></td>
</tr>
<tr>
<td>Flash</td>
<td class="box-good">16 MB</td>
<td class="box-good">32 MB</td>
<td>16 MB<br />(8 MB nutzbar)</td>
<td class="box-good">32 MB</td>
<td></td>
</tr>
<tr>
<td>Wi-Fi Standard</td>
<td class="box-good">802.11ac (Wave2)</td>
<td class="box-good">802.11ac (Wave2)</td>
<td>802.11ac (Wave1)</td>
<td class="box-good">802.11ac (Wave2)</td>
<td></td>
</tr>
<tr>
<td>Frequenzbänder</td>
<td>2.4 GHz / 5 GHz</td>
<td>2.4 GHz / 5 GHz</td>
<td>2.4 GHz / 5 GHz</td>
<td>2.4 GHz / 5 GHz</td>
<td></td>
</tr>
<tr>
<td>WLAN-Datenrate,<br/>bis zu (MBit/s)</td>
<td>400 (2.4 GHz)<br />867 (5 GHz)</td>
<td>400 (2.4 GHz)<br />867 (5 Ghz)</td>
<td>300 (2.4 GHz)<br />867 (5 GHz)</td>
<td>400 (2.4 GHz)<br />867 (5 GHz)</td>
<td></td>
</tr>
<tr>
<td>USB</td>
<td>&#x2717;</td>
<td>1x USB3.0<br />1x USB2.0</td>
<td>&#x2717;</td>
<td>1x USB3.0</td>
<td></td>
</tr>
<tr>
<td>Neupreis</td>
<td><a href="https://geizhals.de/netgear-wi-fi-range-extender-ex6150-ex6150-100pes-a1232062.html">54 €</a></td>
<td><a href="https://geizhals.de/avm-fritz-box-4040-20002763-a1501050.html">70 €</a></td>
<td><a href="https://geizhals.de/ubiquiti-unifi-ap-ac-lite-uap-ac-lite-a1325765.html">75 €</a></td>
<td><a href="https://smile.amazon.de/dp/B079FJKZV8/">89 €</a></td>
<td></td>
</tr>
<tr>
<td>Installation via</td>
<td class="box-good"><a href="https://git.openwrt.org/?p=openwrt/openwrt.git;a=commit;h=970f1914be3f299fb302ca74a214589397000858">Webinterface</a></td>
<td><a href="https://fritz-tools.readthedocs.io/de/latest/flashing/general.html">FTP</a></td>
<td class="box-warn"><a href="https://wiki.darmstadt.freifunk.net/Unifi_AC">SSH</a></td>
<td><a href="https://git.openwrt.org/?p=openwrt/openwrt.git;a=commit;h=04d3308b6248ef21a6f0bc3378b342906c2d2865">Webinterface</a><br />(im Bootloader)</td>
<td></td>
</tr>
      </tbody>
    </table>
  </li>
  <li id="simple2Tab">
    <p>Für eine brauchbare Außenabdeckung muss ein Router Wind und Wetter trotzen können, diese Geräte sind darauf hinreichend vorbereitet.</p>
    <table class="router responsive">
<tr>
<td>Abbildung</td>
<td><img alt="Ubiquiti Unifi AC Mesh" src="/images/routers/unifi_ac_mesh.svg"></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Hersteller</td>
<td>Ubiquiti</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Modell</td>
<td>UniFi AC Mesh</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Stromversorgung</td>
<td>PoE Injektor<br />802.3af</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>CPU</td>
<td>1x750 MHz<br />MIPS 74Kc</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>RAM</td>
<td>128 MB</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Flash</td>
<td>16 MB<br />(8 MB nutzbar)</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Wi-Fi Standard</td>
<td>802.11ac (Wave1)</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Frequenzbänder</td>
<td class="box-good">2.4 GHz<br />5 GHz</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>WLAN-Datenrate,<br/>bis zu (MBit/s)</td>
<td>300 (2.4 GHz)<br />867 (5 GHz)</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>USB</td>
<td>&#x2717;</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Neupreis</td>
<td><a href="https://geizhals.de/ubiquiti-unifi-ac-mesh-uap-ac-m-a1547488.html">85 €</a></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Installation via</td>
<td class="box-warn"><a href="https://wiki.darmstadt.freifunk.net/Unifi_AC">SSH</a></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
    </table>
  </li>
  <li id="simple3Tab">
    <p>Geräte welche teilweise nur auf dem Gebrauchtmarkt zu akzeptablen Preisen verfügbar sind. Sie sind zwar technologisch überholt, es sind uns jedoch keine bekannten Unzulänglichkeiten bekannt.</p>
    <table class="router responsive">
<tr>
<td>Abbildung</td>
<td><img alt="AVM FRITZ!Repeater 300E" src="/images/routers/fritz450e.svg" /></td>
<td><img alt="TP-Link TL-WR1043N/ND v2/v3/v4/v5" src="/images/routers/wr1043nd.svg" /></td>
<td><img alt="AVM FRITZ!WLAN Repeater 450E" src="/images/routers/fritz450e.svg"></td>
<td><!--<img alt="Netgear R6120" src="/images/routers/r6120.svg">--></td>
<td><img alt="AVM FRITZ!Box 4020" src="/images/routers/fritz4020.svg" /></td>
</tr>
<tr>
<td>Hersteller</td>
<td>AVM</td>
<td>TP-Link</td>
<td>AVM</td>
<td>Netgear</td>
<td>AVM</td>
</tr>
<tr>
<td>Modell</td>
<td>FRITZ!WLAN Repeater 300E</td>
<td>TL-WR1043N/ND<br />v2/v3/v4/v5</td>
<td>FRITZ!WLAN Repeater 450E</td>
<td>R6120</td>
<td>FRITZ!Box 4020</td>
</tr>
<tr>
<td>Stromversorgung</td>
<td>integriertes Netzteil</td>
<td>Netzteil</td>
<td>integriertes Netzteil</td>
<td>Netzteil</td>
<td>Netzteil</td>
</tr>
<tr>
<td>CPU</td>
<td class="box-warn">1x400 MHz<br />MIPS 74Kc</td>
<td>1x750 MHz<br />MIPS 74Kc</td>
<td>1x720 MHz<br />MIPS 74Kc</td>
<td>1x580 MHz<br />MIPS 74Kc</td>
<td>1x750 MHz<br />MIPS 74Kc</td>
</tr>
<tr>
<td>RAM</td>
<td>64 MB</td>
<td>64 MB</td>
<td>64 MB</td>
<td class="box-warn">64 MB</td>
<td class="box-good">128 MB</td>
</tr>
<tr>
<td>Flash</td>
<td class="box-good">16 MB</td>
<td>8 MB</td>
<td class="box-good">16 MB</td>
<td class="box-good">16 MB</td>
<td class="box-good">16 MB</td>
</tr>
<tr>
<td>Wi-Fi Standard</td>
<td class="box-warn">802.11n</td>
<td class="box-warn">802.11n</td>
<td class="box-warn">802.11n</td>
<td>802.11ac (Wave 1)</td>
<td class="box-warn">802.11n</td>
</tr>
<tr>
<td>Frequenzbänder</td>
<td>2.4 GHz</td>
<td>2.4 GHz</td>
<td>2.4 GHz</td>
<td>2.4 GHz / 5 GHz</td>
<td>2.4 GHz</td>
</tr>
<tr>
<td>WLAN-Datenrate,<br/>bis zu (MBit/s)</td>
<td>300 (2.4 GHz)</td>
<td>450 (2.4 GHz)</td>
<td>450 (2.4 GHz)</td>
<td>300 (2.4 GHz)<br>866 (5 GHz)</td>
<td>450 (2.4 GHz)</td>
</tr>
<tr>
<td>USB</td>
<td>&#x2717;</td>
<td>1x USB2.0<br />außer v5</td>
<td>&#x2717;</td>
<td>1x USB2.0</td>
<td>(1x USB2.0)<br />nicht unterstützt</td>
</tr>
<tr>
<td>Neupreis</td>
<td>&#x2717;</td>
<td>&#x2717;</td>
<td><a href="https://geizhals.de/avm-fritz-wlan-repeater-450e-20002589-a1065058.html">37 €</a></td>
<td><a href="https://geizhals.de/netgear-r6120-r6120-100pes-a1624501.html">41 €</a></td>
<td><a href="https://geizhals.de/avm-fritz-box-4020-20002713-a1244179.html">45 €</a></td>
</tr>
<tr>
<td>Gebrauchtpreis</td>
<td>max.  20</td>
<td>max.  30</td>
<td>max.  30</td>
<td>max.  35</td>
<td>max.  30</td>
</tr>
<tr>
<td>Installation via</td>
<td><a href="https://fritz-tools.readthedocs.io/de/latest/flashing/general.html">FTP</a></td>
<td class="box-good"><a href="/anleitung.html#firmware">Webinterface</a></td>
<td><a href="https://fritz-tools.readthedocs.io/de/latest/flashing/general.html">FTP</a></td>
<td><a href="/anleitung.html#firmware">Webinterface</a></td>
<td><a href="https://fritz-tools.readthedocs.io/de/latest/flashing/general.html">FTP</a></td>
</tr>
    </table>
  </li>
</ul>
