<dl class="tabs mobile">
  <dd class="active"><a href="#simple1">Indoor</a></dd>
  <dd><a href="#simple2">Outdoor</a></dd>
  <dd><a href="#simple3">Richtfunk</a></dd>
</dl>
<ul class="tabs-content">
  <li class="active" id="simple1Tab">
    <table class="router responsive">
      <tbody>
<tr>
<th> Abbildung
</th>
<td><a class="image" href="https://wiki.freifunk-mwu.de/index.php/Datei:Wr1043n.jpg" rel="lightbox[784]"><img src="https://wiki.freifunk-mwu.de/images/thumb/d/d9/Wr1043n.jpg/200px-Wr1043n.jpg" srcset="/images/thumb/d/d9/Wr1043n.jpg/300px-Wr1043n.jpg 1.5x, /images/thumb/d/d9/Wr1043n.jpg/400px-Wr1043n.jpg 2x" alt="Wr1043n.jpg" width="200" height="180" /></a>
</td>
<td>
<a class="image" href="https://wiki.freifunk-mwu.de/index.php/Datei:Archer_c7.jpg" rel="lightbox[784]"><img src="https://wiki.freifunk-mwu.de/images/thumb/8/81/Archer_c7.jpg/200px-Archer_c7.jpg" srcset="/images/thumb/8/81/Archer_c7.jpg/300px-Archer_c7.jpg 1.5x, /images/thumb/8/81/Archer_c7.jpg/400px-Archer_c7.jpg 2x" alt="Archer c7.jpg" width="200" height="180" /></a>
</td>
<td>
<a class="image" href="https://wiki.freifunk-mwu.de/index.php/Datei:Unifi_ac_lite.jpg" rel="lightbox[784]"><img src="https://wiki.freifunk-mwu.de/images/thumb/f/f8/Unifi_ac_lite.jpg/200px-Unifi_ac_lite.jpg" srcset="/images/thumb/f/f8/Unifi_ac_lite.jpg/300px-Unifi_ac_lite.jpg 1.5x, /images/thumb/f/f8/Unifi_ac_lite.jpg/400px-Unifi_ac_lite.jpg 2x" alt="Unifi ac lite.jpg" width="200" height="180" /></a>
</td>
</td>
</tr>
<tr>
<th> Hersteller
</th>
<td> TP-Link
</td>
<td> TP-Link
</td>
<td> Ubiquiti
</td></tr>
<tr>
<th> Modell
</th>
<td> TL-WR1043N/ND<br />v2/v3/v4/v5
</td>
<td> Archer C7<br />v2/v4
</td>
<td> UniFi AC Lite
</td>
<tr>
<th> Eignung
</th>
<td> Indoor
</td>
<td> Indoor
</td>
<td> Indoor<br />Deckeninstallation
</td>
</tr>
<tr>
<th> Stromversorgung
</th>
<td> Netzteil
</td>
<td> Netzteil
</td>
<td> PoE Injektor<br />802.3af
</tr>
<tr>
<th> CPU
</th>
<td> 750 MHz
</td>
<td> 750 MHz
</td>
<td> 750 MHz
</td>
</tr>
<tr>
<th> RAM
</th>
<td> 64 MB
</td>
<td> 128 MB
</td>
<td> 128 MB
</td>
</tr>
<tr>
<th> Flash
</th>
<td> 8 MB
</td>
<td> 16 MB
</td>
<td> 16 MB
</td>
</tr>
<tr>
<th> Wi-Fi Standard
</th>
<td> 802.11n
</td>
<td> 802.11ac (Wave1)
</td>
<td> 802.11ac (Wave1)
</td>
</tr>
<tr>
<th> WLAN-Datenrate,<br />bis zu (MBit/s)
</th>
<td> 450 (2.4 GHz)
</td>
<td> 450 (2.4 GHz)<br />1300 (5 GHz)
</td>
<td> 300 (2.4 GHz)<br />867 (5 GHz)
</td>
</tr>
<tr>
<th> Preiserwartung
</th>
<td> <a rel="nofollow" class="external text" href="https://geizhals.de/tp-link-tl-wr1043n-a1704211.html">€35</a>
</td>
<td> <a rel="nofollow" class="external text" href="https://geizhals.de/tp-link-archer-c7-diverse-revisionen-a923544.html">€80</a>
</td>
<td> <a rel="nofollow" class="external text" href="https://geizhals.de/ubiquiti-unifi-ap-ac-lite-uap-ac-lite-a1325765.html">€75</a>
</td>
</tr>
<tr>
<th> Installation via
</th>
<td> Webinterface
</td>
<td> Webinterface
</td>
<td> SSH
</td>
</tr>
      </tbody>
    </table>
  </li>
  <li id="simple2Tab">
    <table class="router responsive">
<tr>
<th> Abbildung
</th>
<td>
<a class="image" href="https://wiki.freifunk-mwu.de/index.php/Datei:Unifi_ac_mesh.jpg" rel="lightbox[784]"><img src="https://wiki.freifunk-mwu.de/images/thumb/c/c1/Unifi_ac_mesh.jpg/200px-Unifi_ac_mesh.jpg" srcset="/images/thumb/c/c1/Unifi_ac_mesh.jpg/300px-Unifi_ac_mesh.jpg 1.5x, /images/thumb/c/c1/Unifi_ac_mesh.jpg/400px-Unifi_ac_mesh.jpg 2x" alt="Unifi ac mesh.jpg" width="200" height="180" /></a>
</td>
</tr>
<tr>
<th> Hersteller
</th>
<td> Ubiquiti
</td></tr>
<tr>
<th> Modell
</th>
<td> UniFi AC Mesh
</td></tr>
<tr>
<th> Eignung
</th>
<td> Outdoor
</td></tr>
<tr>
<th> Stromversorgung
</th>
<td> PoE Injektor<br />802.3af
</td></tr>
<tr>
<th> CPU
</th>
<td> 750 MHz
</td></tr>
<tr>
<th> RAM
</th>
<td> 128 MB
</td></tr>
<tr>
<th> Flash
</th>
<td> 16 MB
</td></tr>
<tr>
<th> Wi-Fi Standard
</th>
<td> 802.11ac (Wave1)
</td></tr>
<tr>
<th> WLAN-Datenrate,<br />bis zu (MBit/s)
</th>
<td> 300 (2.4 GHz)<br />867 (5 GHz)
</td></tr>
<tr>
<th> Preiserwartung
</th>
<td> <a rel="nofollow" class="external text" href="https://geizhals.de/ubiquiti-unifi-ac-mesh-uap-ac-m-a1547488.html">€85</a>
</td></tr>
<tr>
<th> Installation via
</th>
<td> SSH
</td></tr>
    </table>
  </li>
  <li id="simple3Tab">
      <div class="alert-box alert">
        Wichtig: Diese Geräte müssen aufgrund der Vorschriften für das 5 GHz Frequenzband in Deutschland mit der Original Hersteller Firmware betrieben werden.
      </div>
    <table class="router responsive">
      <thead>
        <tr>
          <th>Hersteller</th>
          <th>Modell</th>
          <th>Hardware</th>
          <th>Frequenzbänder (GHz)</th>
          <th>WLAN Specs</th>
          <th>Reichweite (km)</th>
          <th>Preis</th>
          <th>Hersteller-Infos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ubiquiti</td>
          <td>Nanostation locoM5</td>
          <td>400MHz CPU, 32MB RAM, 8MB Flash</td>
          <td>5</td>
          <td>802.11n, Sektorantenne 13 dBi Gain: H 45° / V 45° / E 45°, PoE, (bis zu) 150MBit/s im WLAN</td>
          <td>bis zu 10</td>
          <td>~65 &euro;</td>
          <td><a href="https://www.ubnt.com/airmax/nanostationm/" target="_blank">Link</a></td>
        </tr>
        <tr>
          <td>Ubiquiti</td>
          <td>Nanostation NSM5</td>
          <td>400MHz CPU, 32MB RAM, 8MB Flash</td>
          <td>5</td>
          <td>802.11n, Sektorantenne 14.6-16.1 dBi Gain: H 43° / V 41° / E 15°, PoE + Passtrough, (bis zu) 150MBit/s im WLAN</td>
          <td>bis zu 15</td>
          <td>~90 &euro;</td>
          <td><a href="https://www.ubnt.com/airmax/nanostationm/" target="_blank">Link</a></td>
        </tr>
        <tr>
          <td>Ubiquiti</td>
          <td>NanoBeam ac (NBE‑5AC‑16)</td>
          <td>720MHz CPU, 128MB RAM, 8MB Flash</td>
          <td>5</td>
          <td>802.11ac, Sektorantenne 16 dBi Gain, PoE,  (bis zu) 450MBit/s im WLAN</td>
          <td>bis zu 10</td>
          <td>~90 &euro;</td>
          <td><a href="https://www.ubnt.com/airmax/nanobeam-ac/" target="_blank">Link</a></td>
        </tr>
        <tr>
          <td>Ubiquiti</td>
          <td>NanoBeam ac (NBE‑5AC‑19)</td>
          <td>720MHz CPU, 128MB RAM, 8MB Flash</td>
          <td>5</td>
          <td>802.11ac, Sektorantenne 19 dBi Gain, PoE,  (bis zu) 450MBit/s im WLAN</td>
          <td>bis zu 15</td>
          <td>~100 &euro;</td>
          <td><a href="https://www.ubnt.com/airmax/nanobeam-ac/" target="_blank">Link</a></td>
        </tr>
      </tbody>
    </table>
  </li>
</ul>
