<div class="row">
  <div class="six columns">
    <h5 id="contact">Kontakt</h5>
      <dl class="inline-definition-list">
          <dt>E-Mail</dt>
          <dd><a href="mailto:{{ site.community.mail_info}}">{{ site.community.mail_info }}</a></dd>
          <dt>Mailingliste</dt>
          <dd><a href="{{ site.community.url_mailman }}">{{ site.community.mail_discussion }}</a></dd>
          <dt>IRC</dt>
          <dd><a href="{{ site.community.irc }}">{{ site.community.irc }}</a> im <a href="http://hackint.eu/">hackint</a> (<a href="{{ site.community.irc_web }}">Webclient</a>)</dd>
          <dt>Twitter</dt>
          <dd><a href="https://twitter.com/{{ site.community.twitter }}">@{{ site.community.twitter }}</a></dd>
          <dt>Facebook</dt>
          <dd><a href="https://facebook.com/{{ site.community.facebook }}">{{ site.community.facebook }}</a></dd>
          <dt></dt>
          <dd><a href="/impressum.html">Impressum</a></dd>
      </dl>

  </div>
    <div class="six columns">
      <h5>Links</h5>
      <ul>
        <li><a target="_blank" href="{{ site.community.url_git }}">Github</a></li>
        <li><a href="/firmware.html">Firmware</a></li>
          <li><a target="_blank" href="{{ site.community.url_wiki }}">Wiki</a></li>
      </ul>
        <h5>Spenden</h5>
        {% include spenden.html %}
    </div>
</div>
