<p>Grundsätzlich ist es dir überlassen wo du deinen Router kaufst. Wir bieten dir die folgenden Möglichkeiten an:</p>

<dl class="tabs">
  <dd><a href="#getRouter1">Flash Parties</a></dd>
  <dd><a href="#getRouter2">Lokale Händler</a></dd>
</dl>
<ul class="tabs-content">
  <li class="active" id="getRouter1Tab">
    <p>
       Wir veranstalten regelmäßig sogenannte <span class="has-tip" title="Workshop zum gemeinsamen Installieren der Freifunk-Router.">Flash-Parties</span>, an denen wir allen Interessenten persönlich zeigen, wie man einen Router mit der Freifunk-Firmware ausstattet und in Betrieb nimmt.
       Schaue unter "Termine" wann die nächste Flash-Party stattfindet.
    </p>
  </li>
  <li id="getRouter2Tab">
    <p>
       Einige lokale IT-Händler aus der Umgebung unterstützen Freifunk, indem sie unterstützte Router-Modelle verkaufen und i.d.R. auch auf Lager haben.
       Hol dir einfach einen Freifunk-Router bei einem dieser Händler ab.
    </p>
    <table>
      <thead>
        <tr>
          <th>Händler</th>
          <th>Anschrift</th>
          <th>Telefon</th>
          <th>Homepage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><a href="" target="_blank"></td>
        </tr>
      </tbody>
    </table>

    <p>Falls Sie in der Liste der lokalen IT-Händler aufgenommen werden möchten, schicken Sie uns eine E-Mail an <a href="mailto:{{ site.community.mail_info}}">{{ site.community.mail_info }}</a>.</p>

  </li>
</ul>
