<nav class="top-bar">
    <ul>
    <li><a href="{{ site.data.nav.root.href }}">{{ site.data.nav.root.title }}</a></li>
        <li class="toggle-topbar"><a href="#"></a></li>
    </ul>
    <section>
        <ul class="left">
            {% for item in site.data.nav.section %}
                <li{% if item.dropdown %} class="has-dropdown"{% endif %}>
                    <a href="{{ item.href }}">{{ item.title }}</a>
                    {% if item.dropdown %}
                        <ul class="dropdown">
                            {% for subitem in item.dropdown %}
                                <li><a href="/{{ subitem.href }}">{{ subitem.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>
</nav>
