/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.header {
  background: transparent url(../images/ffwi-logo.png) no-repeat bottom right;
  min-height: 110px;
}
@media only screen and (max-width: 940px) {
  .header {
    background: transparent;
    min-height: 0;
  }
}

#flash_placeholder {
  min-height:330px;
  margin-bottom:10px;
  background: url('../images/flash_placeholder.png') no-repeat;
}


@media only screen and (max-width: 970px) {
  #flash_placeholder {
    background: #333;
  }
}

@media only screen and (max-width: 755px) {
  #flash_placeholder {
    margin-bottom:-5px;
    background: url('../images/flash_placeholder.png') no-repeat;
  }
}

@media only screen and (max-width: 570px) {
  div.header {
    background: transparent !important;
    min-height: 0;
  }
}

/*.firmwarelist {*/
	/*min-width:90%;*/
/*}*/

footer {
  background: #fafafa;
  margin-top: 1em;
  padding: 1em 0;
}

.text-justify {
  text-align: justify;
}

div.teaser {
  background: #333;
  padding-top: 1em;
  margin-bottom: 1em;
}

div.heading {
  background: #333;
  color: #fff;
  margin-bottom: 1.4em;
}

div.heading * {
  color: #fff;
}

h1 > .postdate {
  font-size: 0.3em;
  font-style: italic;
}

div.heading .postdate {
	padding: 1em 0 .5em 0;
	display: block;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


#postdate {
	display: inline-block;
	padding-top: 1em;
}
h1.postheading {
	margin-top: 0;
}


/* -----------------------------------------
   meshviewer node svgs
----------------------------------------- */

/*.node-alert {*/
  /*-webkit-animation: blink 2s linear;*/
  /*-webkit-animation-iteration-count: infinite;*/
  /*animation: blink 2s linear;*/
  /*animation-iteration-count: infinite;*/
/*}*/

@-webkit-keyframes blink {
  0%   { opacity: 1.0; }
  80%  { opacity: 1.0; }
  90%  { opacity: 0.0; }
}

@keyframes blink {
  0%   { opacity: 1.0; }
  80%  { opacity: 1.0; }
  90%  { opacity: 0.0; }
}

div.mejs-container {
  margin: auto;
  text-align: center;
}

/* <nav> */
.top-bar { background: transparent; line-height: 35px; }
.top-bar ul, .top-bar ul li { background-color: #dc0067; height: auto; }
.top-bar ul > li a:not(.button) { color: #ffffff; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; }
.top-bar ul > li:hover, .top-bar ul > li:active { background-color: #900043; }
.top-bar ul > li.has-dropdown .dropdown { background-color: #dc0067; padding-top: 0; min-width: 100%; }
.top-bar ul > li.has-dropdown .dropdown li { background-color: #dc0067; padding-bottom: 5px; padding-top: 5px; }
.top-bar ul > li.has-dropdown .dropdown li:hover, .top-bar ul > li.has-dropdown .dropdown li a:hover { background-color: #900043; width: 100%; }
.top-bar ul > li:hover a, .top-bar ul > li.active a { color: #ffffff; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; }

/* Mobile Styles */
@media only screen and (max-width: 940px) {
  .top-bar ul li.toggle-topbar { cursor: pointer; display: block; height: 45px; position: absolute; right: 0; top: 0; width: 33%; } /*EDIT*/
}

/* -----------------------------------------
   inline definition list (for footer)
----------------------------------------- */
.inline-definition-list dt {
  float: left;
  clear: left;
  width: 80px;
  font-weight: bold;
/*  text-align: right;*/
}
.inline-definition-list dd {
  margin: 0 0 0 90px;
  padding: 0 0 0.5em 0;
}

/* Breadcrumbs ---------------------- */
ul.breadcrumbs { background: transparent; border: none; float: right;}
ul.breadcrumbs li:before { content: normal; color: transparent; }
ul.breadcrumbs li:first-child:before { content: normal; }
ul.breadcrumbs li.current a { cursor: inherit; color: #333; }
ul.breadcrumbs li:hover a, ul.breadcrumbs li a:focus { text-decoration: underline; }
ul.breadcrumbs li.current:hover a, ul.breadcrumbs li.current a:focus { text-decoration: none; }
ul.breadcrumbs li.unavailable a { color: #999; }
ul.breadcrumbs li.unavailable:hover a, ul.breadcrumbs li.unavailable a:focus { text-decoration: none; color: #999; cursor: default; }

/* Accordion Tabs ---------------------- */
ul.accordion > li .title:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: solid 6px;
	border-color: #6b5500 transparent transparent transparent;
}

ul.accordion > li.active .title:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: solid 6px;
	border-color: transparent transparent #6b5500 transparent;
	position: absolute;
	right: 15px;
	top: 13px;
}

table.router {
	width: 100%;
}

table.router td {
	min-width: 5em;
}

@media only screen and (max-width: 767px) {
	.tabs-content {
		clear: both;
	}
}

/* Trying to add .toggle-topbar a span */
@media only screen and (max-width: 940px) {
	/*.top-bar ul li.toggle-topbar a span {*/
		/*position: absolute;*/
		/*right: 0;*/
		/*width: 55px;*/
		/*margin-top: -26px;*/
	/*}*/

	.top-bar.expanded ul li.toggle-topbar,
	.top-bar ul li.toggle-topbar:hover {
		background: #dc0067 !important;
	}

	/*.top-bar ul li.toggle-topbar:hover a > span {*/
		/*margin-top: -26px;*/
	/*}*/

	/*.top-bar.expanded ul li.toggle-topbar:hover a span {*/
		/*margin-top: -18px;*/
	/*}*/
}

.box-warn {
  background-color: rgba(255, 100, 0, 0.3); }

.box-good {
  background-color: rgba(0, 255, 0, 0.4); }
